.App {
  text-align: center;
}

.table {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 5fr repeat(2, 2fr);
  align-items: center;
}

.tableHeader {
  background-color: gray;
  padding: 1rem;
  color: white;
  font-weight: bold;
}

.tableBody {
  border-bottom: 1px solid gray;
  padding: 0.5rem 1rem;
}

.completed {
  background-color: lightcyan;
}

.addTaskBtn {
  background-color: blue;
  border: none;
  padding: 1rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.form {
  display: flex;
  gap: 0.5rem;
  margin: 2rem auto;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}

.inputField {
  border: none;
  border-bottom: 1px solid gray;
  min-width: 500px;
  padding: 0.5rem;
  outline: none;
}

.listTitle {
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
}

.listTitle:disabled {
  border: none;
  background-color: transparent;
}

.actionBtn {
  border: none;
  padding: 0.5rem;
}

.listWrapper {
  margin: 1rem 2rem;
  box-shadow: gray;
}

.btnWrapper {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.flexRow {
  display: flex;
  padding: 1rem;
  gap: 1rem;
}

.label {
  font-weight: bold;
  text-align: left;
}
